<!DOCTYPE html>
<html>
  <head>
    <title>Car Information System</title>
  </head>
  <body>
    <h1>Car Information System</h1>
    <h3>Welcome, <%= id %></h3>

    <div><a href="/user/logout">logout</a></div>
  </body>
</html>
