<!DOCTYPE html>
<html>
  <head>
    <title>Car Information System::join</title>
  </head>
  <body>
    <h1>Join Car Information System</h1>
    <section class="message"><%= message %></section>
    <form action="/user/join" method="post">
      email : <input type="text" name="email" id="email"><br>
      password : <input type="password" name="password" id="password"><br>
      carid : <input type="text" id="carid" name="carid" value="09e7b07a-eeb6-11ec-acf2-acde48001122"></text><button id="gencarid">get carid</button><br>
      <button type="submit" >Regist</button>
    </form>
  </body>
</html>
