<!DOCTYPE html>
<html>
  <head>
    <title>Car Information System::join</title>
  </head>
  <body>
    <h1>Join Car Information System</h1>
    <section class="message"><%= message %></section>
    <form action="/user/join" method="post">
      email : <input type="text" name="email" id="email"><br>
      password : <input type="password" name="password" id="password"><br>
      carnumber : <input type="text" id="carnumber" name="carnumber" placeholder="12가3456"></text><br>
      <button type="submit" >Regist</button>
    </form>
  </body>
</html>
